@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 700px;
  width: 100%;
  margin: 200px auto;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.wrapper nav{
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: flex-start;
}
.wrapper nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #17a2b8;
  font-size: 17px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.wrapper nav label:hover{
  background: rgba(23,162,184,0.3);
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about{
  color: #fff;
}
nav label i{
  padding-right: 7px;
}
nav .slider{
  position: absolute;
  height: 100%;
  width: 15%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px;
  background: #17a2b8;
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#blog:checked ~ nav .slider{
    width: 23%;
    left: 15%;
}
#code:checked ~ nav .slider{
    width: 23%;
    left: 37%;
}
#help:checked ~ nav .slider{
    width: 23%;
    left: 60%;
}
#about:checked ~ nav .slider{
    width: 17%;
    left: 85%;
}
section .content{
  display: none;
  background: #fff;
}
#home:checked ~ section .content-1,
#blog:checked ~ section .content-2,
#code:checked ~ section .content-3,
#help:checked ~ section .content-4,
#about:checked ~ section .content-5{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content p{
text-align: justify;
}
/*------------------TABS*---------------------------------*/
header{
  padding-left: 10px;
}
header h1{
  padding: 0px;
}
header .tabs a{
  display: block;
  padding: 20px 40px;
  font-size: 21px;
  white-space: nowrap;
}
.tabs ul{
	display: flex;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
  list-style: none;
  outline: none;
}

.tabs ul li{
	width: 260px;
	padding: 15px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #2a2185;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2a2185;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e8f5f1;
	color: #2a2185;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}


/*TAB CONTENT*/

.tabcontent{
  padding: 40px 0;
  display: none;
}

.tabcontent:first-of-type{
  display: block;
}

.tabcontent h3,
.tabcontent p{
  font-size:21px ;
  margin: 10px 0;
}

.content{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .title{
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 600;
}

.tab_wrap .tab_content p{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}
